
//================EXTANDS ===============================================
@mixin transition($props,$times,$function) {
  transition: $props $times $function;
  -webkit-transition: $props $times $function;
  -moz-transition: $props $times $function;
  -o-transition: $props $times $function;
}

@mixin shadow($x,$y,$alpha,$color) {
  box-shadow: $x $y $alpha $color;
  -webkit-box-shadow: $x $y $alpha $color;
  -moz-box-shadow: $x $y $alpha $color;
  -o-box-shadow: $x $y $alpha $color;
}


.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}



.site-layout .site-layout-background {
  background: #fff;
}


 .ant-upload-select-picture-card i {
   color: #999;
   font-size: 32px;
 }

 .ant-upload-select-picture-card .ant-upload-text {
   margin-top: 8px;
   color: #666;
 }

.logo {
   width: 120px;
   height: 31px;
   background: rgba(154, 154, 154, 0.2);
   margin: 16px 28px 16px 0;
   float: left;
 }

.ant-layout-sider{
  background: #ffffff!important;
}

 .site-layout-background {
   background: #fff;
 }
.card-user{
  display: inline-block;
  padding: 30px 20px;
  overflow: hidden;
  text-align: center;
}
 .header1{
   background-color: #ffffff!important;
   height: 90px!important;
   display: flex;
   align-items: center;
   //.menu-block, .user-block{
   //  width: 50%;
   //}
 }

 .push{
   margin-left: auto;
 }

 .user-block ul{
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;
   list-style: none;
   a{
     color: #404040;
     text-decoration: none;
     transition: all 0.2s linear;
     &:hover{
       color: #1890ff;
       h6{
         color: #1890ff;
       }
     }

   }
 }

 .user-avatar{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   padding: 4px;
   border: 2px solid #1890ff;
 }
  h6{
    font-size: 16px;
    padding: 0 0.6rem;
    transition: all 0.2s linear;
  }
 .sticky-top2{
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 20;
 }

 .d-flex{
   display: flex;
   align-items: center;
 }


 // ICONS

 .icon{
   vertical-align: middle;
   width: 25px;
   height: 25px;
   display: inline-block;
   background-color: #4f4f4f;
   &:hover{
     background-color: #1890FF;
   }
   mask: {
     repeat: no-repeat;
     size: 100%;
     position: center center;
   }
   -webkit-mask: {
     repeat: no-repeat;
     size: 100%;
     position: center center;
   }
 }
 .icon-clock{
   mask-image: url("./assets/icons/feather/clock.svg");
   -webkit-mask-image: url("./assets/icons/feather/clock.svg");
 }

 .icon-manager{
   mask-image: url("./assets/icons/feather/user.svg");
   -webkit-mask-image: url("./assets/icons/feather/user.svg");
 }

 .icon-caret-down{
   mask-image: url("./assets/icons/feather/chevron-down.svg");
   -webkit-mask-image: url("./assets/icons/feather/chevron-down.svg");
 }

 .icon-setting{
   mask-image: url("./assets/icons/feather/settings.svg");
   -webkit-mask-image: url("./assets/icons/feather/settings.svg");
 }
 .icon-logout{
   mask-image: url("./assets/icons/feather/log-out.svg");
   -webkit-mask-image: url("./assets/icons/feather/log-out.svg");
 }
 .icon-user{
   mask-image: url("./assets/icons/feather/user.svg");
   -webkit-mask-image: url("./assets/icons/feather/user.svg");
 }
 .icon-key{
   mask-image: url("./assets/icons/feather/key.svg");
   -webkit-mask-image: url("./assets/icons/feather/key.svg");
 }

.bg-b{
  background-color: #E5E5E5;
  min-height: 600px;
}
 .login_page {
   .wrap {
     background-color: #fff;
     position: relative;
     border-radius: 4px;
     padding: 10px;
     padding-bottom: 0;

     label {
       position: absolute;
       left: 64px;
       z-index: 5;
       font-family: "SF-Pro-Display-Regular", sans-serif;
       font-size: 14px;
     }

     input {
       font-family: "SF-Pro-Display-Bold", sans-serif;
       border: 0;
       box-shadow: none;
       margin-top: 10px;
       font-size: 20px;
     }

     .icon {
       margin-top: 7px;
       margin-left: 10px;
     }
   }

   .animated-label {
     label {
       font-size: 20px;
       top: 9px;
       left: 43px;
       @include transition(all, 0.3s, linear);
     }

     input {
       &:focus, &:valid {
         & ~ label {
           top: 0;
           font-size: 14px;
         }
       }
     }
   }
 }

// Dropdown

 .drop-down{
   position: relative;
   padding: 1rem 0;

   &:hover .drop-down-menu{
     opacity: 1;
     top: 100%;
     pointer-events: unset;
   }

   .drop-down-menu{
     position: absolute;
     left: 0;
     top: 140%;
     opacity: 0;
     pointer-events: none;
     background-color: #ffffff;
     box-shadow: 0 5px 8px rgba(0,0,0,0.08);
     transition: all 0.25s ease-in-out;
     min-width: 100%;
     border-top: 2px solid transparent;
     border-top-color: #1890ff;
     &::before{
       content: '';
       position: absolute;
       display: block;
       border: 10px solid transparent;
       border-bottom-color: #1890ff;
       top: -22px;
       left: 50%;
       transform: translateX(-50%);
     }
     .drop-item{
       display: block;
       padding: 0 2rem;
       color: #404040;
       transition: all 0.25s linear;
       &:hover{
         background-color: rgba(0,0,0,0.08);
       }
       .icon{
         background-color: #404040;
         vertical-align: middle;
         margin-right: 1rem;
       }
     }
   }
 }













 // ICON END
 .one-edge-shadow {
   -webkit-box-shadow: 0 8px 6px -1px rgba(204, 204, 204, 0.6);
   -moz-box-shadow: 0 8px 6px -1px rgba(204, 204, 204, 0.6);
   box-shadow: 0 8px 6px -1px rgba(204, 204, 204, 0.6);
 }

 .right-shadow {
   -webkit-box-shadow: 8px 0 6px -1px rgba(204, 204, 204, 0.4);
   -moz-box-shadow: 8px 0 6px -1px rgba(204, 204, 204, 0.4);
   box-shadow: 8px 0 6px -1px rgba(204, 204, 204, 0.4);
 }

.ant-menu-item-selected{
  .icon{
    background-color: #1890FF;
  }
}


 /* width */
 ::-webkit-scrollbar {
   width: 10px;
 }

 ///* Track */
 //::-webkit-scrollbar-track {
 //  box-shadow: inset 0 0 5px grey;
 //  border-radius: 10px;
 //}

 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: rgba(203, 203, 203, 0.91);
   border-radius: 10px;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: rgba(160, 160, 160, 0.91);
 }
